<h2 class='text-center my-4'>Forgot your password?</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions w-100">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
