<footer class='fixed-bottom ' style=" bottom: 0; left: 0; width: 100%; background:rgb(244, 237, 237); display: flex; justify-content: space-around; padding: 12px 0; box-shadow: 0 -2px 6px rgba(0,0,0,0.1); color: #283618;">
  <div style="text-align: center;">
    <%= link_to root_path, style: "color: #283618; text-decoration: none;" do %>
      <i class="fas fa-home" style="font-size: 20px;"></i>
      <p style="margin: 0; font-size: 14px;">Home</p>
    <% end %>
  </div>
  <div style="text-align: center;">
    <%= link_to(user_signed_in? ? "/rentals" : "#", style: "color: #283618; text-decoration: none;") do %>
      <i class="fa-solid fa-chair" style="font-size: 20px;"></i>
      <p style="margin: 0; font-size: 14px;">My Rentals</p>
    <% end %>
  </div>
  <div style="text-align: center;">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a href="#" class="avatar dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, width: 50, height: 40, crop: :fill, class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <i class="fa-solid fa-user avatar" style="font-size: 20px; color: #283618; text-decoration: none;"></i>
              <p style="margin: 0; font-size: 14px; color: #283618; text-decoration: none;">Profile</p>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to "Owner", owner_rentals_path, class: "dropdown-item" %>
            <%= link_to "Rental", rentals_path, class: "dropdown-item" %>
            <%= link_to "Settings", edit_user_registration_path, class:'dropdown-item' %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <%= link_to new_user_session_path, style: "color: #283618; text-decoration: none;" do %>
          <i class="fa-solid fa-right-to-bracket" style="font-size: 20px;"></i>
          <p style="margin: 0; font-size: 14px;">Login/Sign Up</p>
        <% end %>
      <% end %>
    </ul>
  </div>
</footer>
