<!-- Status page-->
<h1 class= "text-center my-4">Rental Page</h1>
<div class="container d-flex-column justify-content-center align-item-center">
  <% @rentals.each do |rental| %>
    <div class="card-trip mb-4" style="width:340px">
      <%= image_tag cl_image_path(rental.furniture.photo.key, width: 500, height: 400, crop: :fill), alt: "" %>
      <div class="card-trip-infos">
        <div>
          <h2><%= rental.furniture.name %></h2>
          <strong>
            <p><%= rental.furniture.furniture_type.capitalize %> </p>
          </strong>
        </div>
        <div class="parent-container justify-content-end align-items-start">
          <strong>
            <h2><%= rental.status.capitalize %> </h2>
          </strong>
          <h2 class="card-trip-pricing">¥<%= rental.furniture.price %></h2>
        </div>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
      </div>
    </div>
  <% end %>
</div>
<%#= image_tag cl_image_path(@furniture.photo.key, width: 500, height: 400, crop: :fill), alt: "", class: "img-fluid w-100 h-100 object-fit-cover" %>
<%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
