<%# Reviews Form %>
<div class="container">
  <div class="card">
    <h2></h2>
    <p></p>
  </div>
  <div id='reviews'>
    <div class="review-card-container">
      <div class="depth">
        <% if furniture.reviews.any? %>
          <% furniture.reviews.each do |review| %>
            <div class="review-card">
              <strong><%= review.title %></strong>
              <% review.rating.times do %>
                <i class="fas fa-star text-info"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
              <br>
              <i><%= "\"#{review.content}\"" %></i>
            </div>
          <% end %>
        </div>
      </div>
      <div class="reviews-form">
        <a class="btn btn-success rounded-lg m-3" data-bs-toggle="collapse" href="#collapseReview" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add a Review
        </a>
        <div class="collapse mx-3" id="collapseReview">
          <%= simple_form_for([@furniture, @furniture.reviews.new]) do |f| %>
            <%= f.input :title %>
            <%= f.input :content, as: :text %>
            <div class="star-rating">
              <% 5.times do |i| %>
                <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
              <% end %>
            </div>
            <%= f.button :submit, "Submit Review", class:'btn btn-success m-3' %>
          <% end %>
        </div>
      </div>
    </div>
