 <%= simple_form_for([@furniture, @furniture.reviews.new]) do |f| %>
  <%= f.input :title %>
  <%= f.input :content, as: :text %>
  <div class="star-rating">
    <% 5.times do |i| %>
      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
    <% end %>
  </div>
  <%= f.button :submit, "Submit Review", class:'btn btn-success m-3' %>
<% end %>
