<h1 class="text-center my-4">Owner Rentals</h1>
<div class="position-fixed" style="bottom: 80px; right: 24px; z-index: 1050;">
  <button type="button"
          class="btn btn-success rounded-circle"
          style="width: 56px; height: 56px; padding: 0; display:flex; justify-content: center; align-items: center;"
          data-bs-toggle="modal"
          data-bs-target="#addFurnitureModal"
          aria-label="Add furniture">
    <i class="fa-solid fa-plus" style="font-size: 24px; color: white;"></i>
  </button>
</div>
</div>
</div>
<nav class="navbar justify-content-center">
  <!-- Floating Add Button (FAB) -->
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="hover-bg nav-link active text-black" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All</button>
    <button class="hover-bg nav-link text-black"  data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="false">Pending</button>
    <button class="hover-bg nav-link text-black" data-bs-toggle="tab" data-bs-target="#nav-approved" type="button" role="tab" aria-controls="nav-approved" aria-selected="false">Approved</button>
    <button class="hover-bg nav-link text-black"  data-bs-toggle="tab" data-bs-target="#nav-rejected" type="button" role="tab" aria-controls="nav-rejected" aria-selected="false">Rejected</button>
    <button class="hover-bg nav-link text-black"  data-bs-toggle="tab" data-bs-target="#nav-furnitures" type="button" role="tab" aria-controls="nav-furnitures" aria-selected="false">My Rentals</button>
  </div>
</nav>
<div class="container tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <div class="row">
      <%= render partial: 'rentals/tab', locals: { rentals: @rentals_as_owner } %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab" tabindex="0">
    <div class="row">
      <%= render partial: 'rentals/tab', locals: { rentals: @rentals_as_owner.select(&:pending?) } %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab" tabindex="0">
    <div class="row">
      <%= render partial: 'rentals/tab', locals: { rentals: @rentals_as_owner.select(&:approved?) } %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-rejected-tab" tabindex="0">
    <div class="row">
      <%= render partial: 'rentals/tab', locals: { rentals: @rentals_as_owner.select(&:rejected?) } %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-furnitures" role="tabpanel" aria-labelledby="nav-furnitures-tab" tabindex="0">
    <div class="row">
      <%= render partial: 'furnitures/myfurniture', locals: { furnitures: @furnitures } %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class=" modal fade" id="addFurnitureModal" tabindex="-1" aria-labelledby="addFurnitureModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFurnitureModalLabel">Add Furniture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: 'create_form', locals: { furniture: @furniture } %>
      </div>
    </div>
  </div>
</div>
</div>
