<h1 class="text-center mb-4">User Rental</h1>
<div class="container mb-5">
  <div class="row justify-content-center">
    <% @furnitures.each do |furniture| %>
      <div class="col-md-4 col-sm-6 col-12 mb-4"> <!-- Responsive grid -->
        <div class="card-trip mb-4 p-3 rounded w-100"> <!-- Ensures full width on mobile -->
          <%= image_tag cl_image_path(furniture.photo.key, width: 500, height: 400, crop: :fill), class:"img-fluid rounded", alt: "" %>
          <div class="card-trip-infos">
            <div class="d-flex flex-column align-items-start">
              <h2><%= furniture.name %></h2>
              <strong>
                <p><%= furniture.furniture_type.capitalize %></p>
              </strong>
            </div>
            <div class="parent-container d-flex flex-column justify-content-end align-self-start">
              <h2 class="card-trip-pricing mt-3 text-end mb-auto">¥<%= furniture.price %></h2>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "Edit Furniture", edit_furniture_path(furniture), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
