<div class="container rounded-5">
  <%= simple_form_for @furniture do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :furniture_type, collection: Furniture::CATEGORIES, as: :radio_buttons,  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Save", class: "btn btn-success round-3" %>
  <% end %>
</div>
