<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner.webp') %>);">
  <div class="container ">
    <h1><strong>Welcome to HOMIE</strong> </h1>
    <p><strong>Furniture rental app</strong>!</p>
  </div>
</div>
<div class="container custom-container-bottom">
  <div class="d-flex justify-content-between align-items-center m-3">
    <h1>Furnitures</h1>
  </div>
  <%= turbo_frame_tag :category_list do %>
    <div class="category-list mx-auto p-2">
      <% categories = [
        {name: "Mirrors", param: "mirror"},
    {name: "Gardens", param: "garden"},
    {name: "Lamps", param: "lamp"},
    {name: "Matresses", param: "matress"},
    {name: "Tv-stand", param: "tv table"},
    {name: "Wardrobes", param: "wardrove"},
    {name: "Stool", param: "stool"},
    {name: "Desk", param: "desk"},
    {name: "Kitchen", param: "kitchen"},
    {name: "Vanitory", param: "vanitory"},
    {name: "Sofa", param: "sofa"}
    ] %>
      <% categories.each do |cat| %>
        <a class="btn btn-light rounded-pill border-1 border-dark-subtle <%= 'active' if params[:category] == cat[:param] %>"
       href="/furnitures?category=<%= cat[:param] %>"><%= cat[:name] %></a>
      <% end %>
    </div>
    <div class="cards mt-4">
      <% @furnitures.each do |furniture| %>
        <div class="card-trip">
          <%=image_tag cl_image_path("#{furniture.photo.key}", width: 280, height: 250,  crop: :fill), alt: "" %>
          <div class="card-trip-infos">
            <div><%= furniture.name %></div>
            <div>¥<%= furniture.price %></div>
          </div>
          <%= link_to '', furniture_path(furniture), class:"card-link", data: { turbo_frame: '_top'} %>
        </div>
      <% end %>
    </div>
    <div class="pages-list"><%= paginate @furnitures %></div>
  </div>
<% end %>
