<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner.webp') %>);">
  <div class="container">
    <h1><strong>Welcome to Rent furnitures app</strong> </h1>
    <p><strong>Rent furnitures</strong>!</p>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Furnitures</h1>
  </div>
  <div class="cards">
    <% @furnitures.each do |furniture| %>
      <div class="card-category card-furniture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path("#{furniture.photo.key}", width: 280, height: 250, crop: :fill)%>)">
        <p><%= furniture.name %></p>
        <p>$<%= furniture.price %></p>
        <%= link_to '', furniture_path(furniture), class:"card-link" %>
      </div>
    <% end %>
  </div>
  <div class="pages-list"><%= paginate @furnitures %></div>
</div>
