<h1 class="text-center my-4">Furniture Details</h1>
<div class="container mt-4">
  <div class="card shadow-sm rounded-3 overflow-hidden">
    <div class="row g-0">
      <!-- Image -->
      <div class="col-md-5">
        <%= image_tag cl_image_path(@furniture.photo.key, width: 500, height: 400, crop: :fill), alt: "", class: "img-fluid w-100 h-100 object-fit-cover" %>
      </div>
      <!-- furniture part -->
      <div class="col-md-7 p-4"
     data-controller="range-tracker"
     data-range-tracker-price-value="<%= @furniture.price %>">
        <h3 class="card-title mb-3"><%= @furniture.name %></h3>
        <p class="mb-1"><strong>Type:</strong> <%= @furniture.furniture_type %></p>
        <p class="mb-1">
          <strong>Total Price:</strong>
          ¥<span data-range-tracker-target="counter"><%= number_with_delimiter(@furniture.price) %></span>
        </p>
        <!-- Schedule Rental Form -->
        <div class="mt-4">
          <%= render 'rentals/form', rental: @rental, furniture: @furniture %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-4 text-center">
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseExample">
      More Details
    </a>
  </div>
  <div id="collapseDetails" class="custom-bg mb-5 collapse">
    <p class="m-5"><strong>Description:</strong><br>
      <%= @furniture.description %></p>
  </div>
</div>
