<h1 class="text-center my-4">Furniture Details</h1>
<div class="container mt-4 custom-container-bottom">
  <div class="card shadow-sm rounded-3 overflow-hidden">
    <div class="row g-0">
      <!-- Image -->
      <div class="col-md-5">
        <%= image_tag cl_image_path(@furniture.photo.key, width: 500, height: 400, crop: :fill), alt: "", class: "img-fluid w-100 h-100 object-fit-cover" %>
      </div>
      <!-- furniture part -->
      <div class="col-md-7 p-4"
     data-controller="range-tracker"
     data-range-tracker-price-value="<%= @furniture.price %>">
        <h3 class="card-title mb-3"><%= @furniture.name %></h3>
        <h3 class="mb-1"><strong>Type:</strong> <%= @furniture.furniture_type.capitalize %></h3>
        <!-- read more part -->
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="mb-1 me-4" style="flex: 1;">
            <%# <strong>Total Price:</strong> %>
            <strong>¥<span data-range-tracker-target="counter"><%= number_with_delimiter(@furniture.price) %></span></strong>
          </h1>
          <div>
            <div class="m-4 text-center" style="flex: 1;"><button type="button" class="btn btn-success"data-bs-toggle="modal"
          data-bs-target="#detailsModal"> More Details</button></div>
            <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg"> <!-- Change to modal-xl or modal-sm if you like -->
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Furniture Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Description:</strong><br>
                      <%= @furniture.description %></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Schedule Rental Form -->
        <div class="mt-4">
          <%= render 'rentals/form', rental: @rental, furniture: @furniture %>
        </div>
      </div>
      <!-- owners information -->
      <div class="card-product">
        <img src="<%= cl_image_path(@furniture.user.photo.key) %>" />
        <div class="card-product-infos">
          <div>
            <h2><%= @furniture.user.name %></h2>
            <p><strong>Verified Seller</strong></p>
          </div>
          <div>
            <% rand(1..5).times do %>
              <i class="fas fa-star text-info"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class ='mt-4'>
        <%= render 'reviews/form', review: @review, furniture: @furniture %>
      </div>
    </div>
  </div>
</div>
