<h1>Furnitures#show</h1>
<div class="container mt-5">
  <div class="card">
    <h5><%= @furniture.name %></h5>
    <p><%= @furniture.furniture_type %></p>
    <p><%= @restaurant.description%></p>
    <p><%= @restaurant.price %></p>
  </div>
</div>
<%= render 'rentals/form', rental: @rentals %>
